<div class="ui basic modal">
    <div class="ui icon header">
        <i class="exclamation triangle icon"></i>
        Big Fat Warning
    </div>
    <div class="content">
        <p>The scoring is experimental and is subject to change. There are some naive approach in the algorithm, and
            obviously this does not reflect a nominator's capability of modding.</p>
        <p>If you feel like you could give your thoughts orsuggestions on it, please contact -Keitaro.</p>
        <p>Knowing that, would you still like to continue?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>
<script>
    $('.ui.basic.modal')
        .modal({
            closable: false,
            onDeny: function () {
                window.history.back();
                return false;
            },
            onApprove: function () { return true; }
        })
        .modal('show')
</script>