<div class="column middle aligned">
    <div class="ui large relaxed divided inverted list">
        <div class="item">
            <i class="large info circle middle aligned icon"></i>
            <div class="content">
                <a class="header">
                    <time class="timeago" datetime="{{ user.last_updated.isoformat(timespec='seconds') }}Z"></time>
                </a>
                <div class="description">Last Updated</div>
            </div>
        </div>

        <div class="item">
            <i class="large check middle aligned icon"></i>
            <div class="content">
                <a class="header">{{ nominations | length }}</a>
                <div class="description">Nominations</div>
            </div>
        </div>

        <div class="item">
            <i class="large play middle aligned icon"></i>
            <div class="content">
                <a class="header">{{ avg_length }}</a>
                <div class="description">Average length</div>
            </div>
        </div>

        <div class="item">
            <i class="large star middle aligned icon"></i>
            <div class="content">
                <a href="{{ url_for('score:show', user_id=user.osuId) }}"
                    class="header">{{ '%0.2f' | format(user.score) }}</a>
                <div class="description tooltip" data-content="Rating is an experimental nomination scoring system."
                    data-variation="inverted">
                    Rating
                </div>
            </div>
        </div>
    </div>
</div>