{% if user.genre_favor %}
{% for genre in user.genre_favor %}
<a class="ui label" data-name="genre" data-value="{{ genre }}">Genre: {{ genre | replace("_", " ") }}</a>
{% endfor %}
{% endif %}

{% if user.lang_favor %}
{% for lang in user.lang_favor %}
<a class="ui label" data-name="language" data-value="{{ lang }}">Language: {{ lang }}</a>
{% endfor %}
{% endif %}

{% if user.length_favor %}
<a class="ui label" data-name="length" data-value="{{ user.length_favor }}">Length: {{ user.length_favor }}</a>
{% endif %}

{% if user.size_favor %}
<a class="ui label" data-name="size" data-value="{{ user.size_favor }}">Size: {{ user.size_favor }}</a>
{% endif %}

{% if user.topdiff_favor %}
{% for diff in user.topdiff_favor %}
<a class="ui label" data-name="size" data-value="{{ diff }}">Top Difficulty: {{ diff }}</a>
{% endfor %}
{% endif %}

{% for mode in user.modes %}
<a class="ui label" data-name="mode" data-value="{{ mode }}">Mode: {{ mode }}</a>
{% endfor %}