<div class="column">
    <h2 class="ui center aligned icon inverted header">
        <div class="ui circular image">
            <img src="https://a.ppy.sh/{{ user.osuId }}">
        </div>
        <div class="content">
            <a href="https://osu.ppy.sh/users/{{ user.osuId }}" class="title">{{ user.username }}</a>
            {% if error is not defined %}
            <div class="sub header">
                {% include 'includes/user-labels.html' %}
            </div>
            {% endif %}
        </div>
    </h2>
</div>