<div class="column">
    <h2 class="ui center aligned icon inverted header">
        <div class="ui circular image">
            <img src="https://a.ppy.sh/{{ user.osuId }}">
        </div>
        <div class="content">
            <a href="https://osu.ppy.sh/users/{{ user.osuId }}" class="title">{{ user.username }}</a>
            {% if error is not defined %}
            <div class="sub header">
                {% for genre in genre_favor %}
                <a class="ui label">Genre: {{ genre | replace("_", " ") }}</a>
                {% endfor %}

                {% for lang in lang_favor %}
                <a class="ui label">Language: {{ lang }}</a>
                {% endfor %}

                <a class="ui label">Length: {{ length_favor }}</a>
                <a class="ui label">Size: {{ size_favor }}</a>
            </div>
            {% endif %}
        </div>
    </h2>
</div>