tests/data/* linguist-vendored
static/components/* linguist-vendored
static/js/vendor/* linguist-vendored
static/themes/* linguist-vendored
static/css/semantic.css linguist-vendored
static/css/chart.css linguist-vendored