{% extends "base.html" %}

{% block content %}
{% include 'includes/score-warning.html' %}
<div class="ui segment">
    <h3 class="header">Leaderboard</h3>
    <div class="table-wrapper">
        <table class="ui celled padded inverted sortable unstackable selectable table">
            <thead>
                <tr>
                    <th class="number"></th>
                    <th>Username</th>
                    <th class="float">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr data-url="{{ url_for('score:show', user_id=user.osuId) }}">
                    <td class="one wide">{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{'%0.2f' | format(user.score) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}