{% extends "base.html" %}

{% block content %}
<div class="ui segments">
    <div class="ui raised segment">
        <h3 class="segment header">Introduction</h3>
        <p>hi</p>
    </div>
    <div class="ui horizontal segments">
        <div class="ui secondary segment">
            <h3 class="segment header">Introduction</h3>
            <p>sup</p>
        </div>
        <div class="ui secondary segment">
            <h3 class="segment header">Introduction</h3>
            <p>sup</p>
        </div>
    </div>
</div>
{% endblock %}