{% extends "base.html" %}

{% block content %}
<div class="ui segment">
    <h3 class="header">User List</h3>
    <p>Last updated:
        {% if last_update %}
        <time class="timeago" datetime="{{ last_update.isoformat(timespec='seconds') }}Z"></time>
        {% else %}
        Happens outside the app instance.
        {% endif %}
    </p>

    <form class="ui inverted form" id="leaderboardFilter">
        <div class="field">
            <label>Game mode</label>
            <select name="mode" class="ui dropdown">
                <option value="all" {% if not mode %}selected{% endif %}>All</option>
                <option value="osu" {% if mode=='osu' %}selected{% endif %}>osu!</option>
                <option value="taiko" {% if mode=='taiko' %}selected{% endif %}>Taiko</option>
                <option value="catch" {% if mode=='catch' %}selected{% endif %}>Catch</option>
                <option value="mania" {% if mode=='mania' %}selected{% endif %}>Mania</option>
            </select>
        </div>
    </form>

    <div class="table-wrapper">
        <table class="ui celled padded inverted sortable unstackable selectable table">
            <thead>
                <tr class="center aligned">
                    <th class="one wide">#</th>
                    <th class="nine wide">Username</th>
                    <th class="no-sort two wide">Game mode</th>
                    <th class="number four wide">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr data-url="{{ url_for('score:show', user_id=user.osuId) }}">
                    <td class="center aligned">{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.modes | join(', ') }}</td>

                    {% if mode and mode in ["osu", "taiko", "catch", "mania"] %}
                    <td data-sort-value="{{ '%d' | format(user.score_modes[mode].total_score * 100) }}">
                        {{ '%0.2f' | format(user.score_modes[mode].total_score) }}
                    </td>

                    {% else %}

                    <td data-sort-value="{{ '%d' | format(user.score.total_score * 100) }}">
                        {{ '%0.2f' | format(user.score.total_score) }}

                        {% set modes_count = user.modes | length %}
                        {% if modes_count > 1 %}
                        <span class="ui small text">(
                            {% for k,v in user.score_modes.items() %}
                            {{ '%0.2f' | format(v.total_score) }} {{ k }} {% if loop.index != modes_count %}, {% endif
                            %}
                            {% endfor %}
                            )
                        </span>
                        {% endif %}

                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}