{% extends "base.html" %}

{% block content %}
<div class="ui segment">
    <h3 class="header">User List</h3>
    <p>Last updated:
        {% if last_update %}
        <time class="timeago" datetime="{{ last_update.isoformat(timespec='seconds') }}Z"></time>
        {% else %}
        Happens outside the app instance.
        {% endif %}
    </p>

    <div
        id="listingContent"
        data-users='{{ users | tojson }}'
        data-genres='{{ genres | tojson }}'
        data-langs='{{ languages | tojson }}'
        data-diffs='{{ diffs | tojson }}'
        data-counts='{{ counts | tojson }}'
        >
    </div>
    <script type="module" src="/static/js/table-preact.js"></script>
</div>
{% endblock %}