{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block content %}
{% include 'includes/score-warning.html' %}
<div class="ui segments">
    <div class="ui segment">
        <h3 class="header">User Info</h3>
        <div class="ui very relaxed stackable grid">
            {% include 'includes/user-header.html' %}
        </div>
    </div>

    <div class="ui segments">
        <div class="ui secondary segment">
            <h3 class="header">Nominations</h3>
            <div class="table-wrapper">
                <table class="ui celled inverted sortable selectable table">
                    <thead>
                        <tr>
                            <th>Beatmap</th>
                            <th class="float">Ranked bonus</th>
                            <th class="float">Mapper%</th>
                            <th class="float">MapsetSize%</th>
                            <th class="float">Penalty</th>
                            <th class="float">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in nominations %}
                        <tr data-url="https://osu.ppy.sh/s/{{ s.map.beatmapset_id }}">
                            <td>
                                {{ s.map.artist }} - {{ s.map.title }} ({{ s.map.creator }})
                            </td>
                            {% if s.ambiguous_mode %}
                            <td colspan="4">Can't tell which mode the nominator is trying to nominate, please tell
                                Keitaro!.</td>
                            {% else %}
                            <td>{{ '%0.2f' | format(s.ranked_score) }}</td>
                            <td>{{ '%d' | format(s.mapper_score * 100) }}%</td>
                            <td>{{ '%d' | format(s.mapset_score * 100) }}%</td>
                            <td>{{ '%0.2f' | format(s.penalty) }}</td>
                            <td>{{ '%0.2f' | format(s.score) }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}