{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block content %}
{% include 'includes/score-warning.html' %}
<div class="ui segments">
    <div class="ui segment">
        <h3 class="header">User Info</h3>
        <div class="ui very relaxed stackable grid">
            {% include 'includes/user-header.html' %}
        </div>

        {% if user.modes | length > 1 %}
        {% set selected_mode = request.query_params['mode'] | default("ll") %}
        <form class="ui inverted form" id="modeForm">
            <div class="field">
                <label>Select mode</label>
                <select name="mode" class="ui dropdown">
                    <option value="all" {% if selected_mode == "all" %}selected{% endif %}>All</option>
                    {% for k in user.modes %}
                    <option value="{{ k }}" {% if selected_mode == k %}selected{% endif %}>{{ k }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        {% endif %}
    </div>

    <div class="ui segments">
        <div class="ui secondary segment">
            <h3 class="header">Nominations</h3>
            <div class="table-wrapper">
                <table class="ui celled inverted sortable selectable table">
                    <thead>
                        <tr>
                            <th>Beatmap</th>
                            <th class="float">Rank%</th>
                            <th class="float">Mapper%</th>
                            <th class="float">MapsetSize%</th>
                            <th class="float">Penalty</th>
                            <th class="float">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in nominations %}
                        <tr data-url="https://osu.ppy.sh/s/{{ s.map.beatmapset_id }}">
                            <td>
                                {{ s.map.artist }} - {{ s.map.title }} ({{ s.map.creator }})
                            </td>
                            {% if s.ambiguous_mode %}
                            <td colspan="4">Can't tell which mode the nominator is trying to nominate, please tell
                                Keitaro!.</td>
                            {% else %}
                            <td data-sort-value="{{ s.ranked_score }}">{{ '%d' | format(s.ranked_score * 100) }}%</td>
                            <td data-sort-value="{{ s.mapper_score }}">{{ '%d' | format(s.mapper_score * 100) }}%</td>
                            <td data-sort-value="{{ s.mapset_score }}">{{ '%d' | format(s.mapset_score * 100) }}%</td>
                            <td>{{ '%0.2f' | format(s.penalty) }}</td>

                            {% set calc_system = request.app.state.calc_system %}
                            {% if calc_system.has_weight %}
                            <td>
                                {{ '%0.2f' | format(s.score * (calc_system.weight ** loop.index0)) }}
                                <span class="ui small text" data-tooltip="Unweightened score">
                                    ({{ '%0.2f' | format(s.score) }})
                                </span>
                            </td>
                            {% else %}
                            <td>{{ '%0.2f' | format(s.score) }}</td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}